<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect requests like /index.php/login to /login -->
        <rule name="Remove index.php" stopProcessing="true">
          <match url="^index\.php/(.*)" />
          <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- Send all requests to public/index.php -->
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php" appendQueryString="true" />
        </rule>
        <rule name="Force HTTP" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
              <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action 
              type="Redirect" 
              url="http://{HTTP_HOST}/{R:1}" 
              redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="public/index.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096" maxUrl="8192" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="G:\PleskVhosts\getappgo.com\tmp" />
  </system.web>
</configuration>